@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 設定がダークモードの時に適用されるもの。 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.all{text-align: center;}


.title-form {
  text-align: center;
}

.input-list{
  overflow-y:scroll;
  height: 280px;
  width: 80%;
  
}
table {
  width: 150px;
  margin: 10px auto;
  text-align: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e6f2ff;
}


.start-button {
  display: block;
  width: 250px;
  margin: 0 auto;
  background: rgb(237, 237, 237);
  border: 1px solid blue;
  padding: 5px;
}

.button {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  background: rgb(237, 237, 237);
  border: 1px solid blue;
  padding: 5px;
}


.finish-button {
  width: 150px;
  margin: 0 auto;
  background: white;
  border: 1px solid blue;
}